<app-pre-load *ngIf="isLoading"></app-pre-load>

<div class="content bg-[#F0F2F3] h-screen">
  <app-breadcrumb [icon]="'pi pi-id-card'" [urlBase]="'Area Pedagógica'" [url]="base"></app-breadcrumb>
  <div class="w-full mb-3 mt-3 flex flex-1 justify-end"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-none rounded-md border">
        <div class="card-body">
          <div class="flex flex-1 justify-end p-2 my-2">
            <app-form-modal (onClick)="patchValues(null)" [title]="'Nova Pauta'">
              <form (ngSubmit)="onSave()" [formGroup]="formulario" class="py-3 px-3 w-[90vw] xl:w-[60vw] space-y-3">
                <div class="grid grid-cols-2 gap-2" [hidden]="true">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Designação (*)</label>
                    <input id="designation" formControlName="designation" type="text" class="form-control">
                    <div class="text-red-500 mt-1 text-xs"
                      *ngIf="formulario.get('designation')?.errors  && formulario.get('designation')?.touched">
                      O nome é obrigatório
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1" class="text-sm text-gray-700 mb-1">Descrição</label>
                    <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
                    <div class="text-red-500 mt-1 text-xs"
                      *ngIf="formulario.get('description')?.errors  && formulario.get('description')?.touched">
                      A Descrição é opcional
                    </div>
                  </div>
                </div>
                <div class="grid grid-cols-2 gap-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Curso (*)</label>
                    <select id="course_id" formControlName="course_id" class="form-control">
                      <option value="" selected disabled>Selecione o Curso</option>
                      <option *ngFor="let item of urlResponse.items.courses" [value]="item.id">{{ item.designation }}
                      </option>
                    </select>
                    <div class="text-red-500 mt-1 text-xs"
                      *ngIf="formulario.get('course_id')?.errors  && formulario.get('course_id')?.touched">
                      O Curso é obrigatório
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Período (*)</label>
                    <select id="period_id" formControlName="period_id" class="form-control">
                      <option value="" selected [disabled]="true">Selecione o periodo</option>
                      <option *ngFor="let item of urlResponse.items.periods" [value]="item.id">{{ item.designation }}
                      </option>
                    </select>
                    <div class="text-red-500 mt-1 text-xs"
                      *ngIf="formulario.get('period_id')?.errors  && formulario.get('period_id')?.touched">
                      O Período é obrigatório
                    </div>
                  </div>
                </div>
                <div class="grid grid-cols-2 gap-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Classe (*)</label>
                    <select id="classe_id" formControlName="classe_id" class="form-control">
                      <option value="" selected disabled>Selecione a Classe</option>
                      <option *ngFor="let item of urlResponse.items.classes" [value]="item.id">{{ item.designation }}
                      </option>
                    </select>
                    <div class="text-red-500 mt-1 text-xs"
                      *ngIf="formulario.get('classe_id')?.errors  && formulario.get('classe_id')?.touched">
                      A classe é obrigatória
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Turma (*)</label>
                    <select id="turma_id" formControlName="turma_id" class="form-control">
                      <option value="" selected disabled>Selecione a Turma</option>
                      <option *ngFor="let item of urlResponse.items.turmas" [value]="item.id">{{ item.designation }}
                      </option>
                    </select>
                    <div class="text-red-500 mt-1 text-xs"
                      *ngIf="formulario.get('turma_id')?.errors  && formulario.get('turma_id')?.touched">
                      A Turma é obrigatória
                    </div>
                  </div>
                </div>

                <div class="grid grid-cols-2 gap-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Sala (*)</label>
                    <select id="class_room_id" formControlName="class_room_id" class="form-control">
                      <option value="" selected disabled>Selecione a Sala</option>
                      <option *ngFor="let item of urlResponse.items.classrooms" [value]="item.id">{{ item.designation }}
                      </option>
                    </select>
                    <div class="text-red-500 mt-1 text-xs"
                      *ngIf="formulario.get('class_room_id')?.errors  && formulario.get('class_room_id')?.touched">
                      A Sala é obrigatória
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Ano Lectivo (*)</label>
                    <select id="school_year_id" formControlName="school_year_id" class="form-control">
                      <option value="" selected disabled>Selecione o Ano Lectivo</option>
                      <option *ngFor="let item of urlResponse.items.school_year" [value]="item.id">{{ item.designation
                        }}</option>
                    </select>
                    <div class="text-red-500 mt-1 text-xs"
                      *ngIf="formulario.get('school_year_id')?.errors  && formulario.get('school_year_id')?.touched">
                      O ano lectivo é obrigatório
                    </div>
                  </div>
                </div>

                <!--  -->

                <!--  -->

                <div class="w-full flex justify-end items-end">
                  <button type="submit" class="p-2 px-5 rounded-[6px]  bg-primary-btn  text-white">Salvar</button>
                </div>
              </form>
            </app-form-modal>
          </div>
          <app-table [title]="'Pauta'" [heading]="heading" [items]="urlResponse.schedules">
            <ng-template let-item let-i="index" #renderItem>
              <td>{{ urlResponse.schedules | findIndex: item }}</td>
              <td>{{ item?.school_year?.designation }}</td>
              <td>{{ item?.classe?.designation }}ª classe</td>
              <td>{{ item?.class_room?.designation }}</td>
              <td>{{ item?.turma?.designation }}</td>
              <td>{{ item?.course?.designation }}</td>
              <td>{{ item?.period?.designation }}</td>
              <td class="flex items-center gap-2 h-20">
                <app-form-modal (onClick)="patchValues(item)" [isEdit]="true" [title]="'Nova Pauta'">
                  <form (ngSubmit)="onUpdate(item)" [formGroup]="formulario" class="py-3 px-3 w-[90vw] xl:w-[60vw] space-y-3">
                    <div class="grid grid-cols-2 gap-2" [hidden]="true">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Designação (*)</label>
                        <input id="designation" formControlName="designation" type="text" class="form-control">
                        <div class="text-red-500 mt-1 text-xs"
                          *ngIf="formulario.get('designation')?.errors  && formulario.get('designation')?.touched">
                          O nome é obrigatório
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1" class="text-sm text-gray-700 mb-1">Descrição</label>
                        <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
                        <div class="text-red-500 mt-1 text-xs"
                          *ngIf="formulario.get('description')?.errors  && formulario.get('description')?.touched">
                          A Descrição é opcional
                        </div>
                      </div>
                    </div>
                    <div class="grid grid-cols-2 gap-2">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Curso (*)</label>
                        <select id="course_id" formControlName="course_id" class="form-control">
                          <option value="" selected disabled>Selecione o Curso</option>
                          <option *ngFor="let item of urlResponse.items.courses" [value]="item.id">{{ item.designation }}
                          </option>
                        </select>
                        <div class="text-red-500 mt-1 text-xs"
                          *ngIf="formulario.get('course_id')?.errors  && formulario.get('course_id')?.touched">
                          O Curso é obrigatório
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Período (*)</label>
                        <select id="period_id" formControlName="period_id" class="form-control">
                          <option value="" selected [disabled]="true">Selecione o periodo</option>
                          <option *ngFor="let item of urlResponse.items.periods" [value]="item.id">{{ item.designation }}
                          </option>
                        </select>
                        <div class="text-red-500 mt-1 text-xs"
                          *ngIf="formulario.get('period_id')?.errors  && formulario.get('period_id')?.touched">
                          O Período é obrigatório
                        </div>
                      </div>
                    </div>
                    <div class="grid grid-cols-2 gap-2">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Classe (*)</label>
                        <select id="classe_id" formControlName="classe_id" class="form-control">
                          <option value="" selected disabled>Selecione a Classe</option>
                          <option *ngFor="let item of urlResponse.items.classes" [value]="item.id">{{ item.designation }}
                          </option>
                        </select>
                        <div class="text-red-500 mt-1 text-xs"
                          *ngIf="formulario.get('classe_id')?.errors  && formulario.get('classe_id')?.touched">
                          A classe é obrigatória
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Turma (*)</label>
                        <select id="turma_id" formControlName="turma_id" class="form-control">
                          <option value="" selected disabled>Selecione a Turma</option>
                          <option *ngFor="let item of urlResponse.items.turmas" [value]="item.id">{{ item.designation }}
                          </option>
                        </select>
                        <div class="text-red-500 mt-1 text-xs"
                          *ngIf="formulario.get('turma_id')?.errors  && formulario.get('turma_id')?.touched">
                          A Turma é obrigatória
                        </div>
                      </div>
                    </div>
                
                    <div class="grid grid-cols-2 gap-2">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Sala (*)</label>
                        <select id="class_room_id" formControlName="class_room_id" class="form-control">
                          <option value="" selected disabled>Selecione a Sala</option>
                          <option *ngFor="let item of urlResponse.items.classrooms" [value]="item.id">{{ item.designation }}
                          </option>
                        </select>
                        <div class="text-red-500 mt-1 text-xs"
                          *ngIf="formulario.get('class_room_id')?.errors  && formulario.get('class_room_id')?.touched">
                          A Sala é obrigatória
                        </div>
                      </div>
                
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="text-sm text-gray-700 mb-1">Ano Lectivo (*)</label>
                        <select id="school_year_id" formControlName="school_year_id" class="form-control">
                          <option value="" selected disabled>Selecione o Ano Lectivo</option>
                          <option *ngFor="let item of urlResponse.items.school_year" [value]="item.id">{{ item.designation
                            }}</option>
                        </select>
                        <div class="text-red-500 mt-1 text-xs"
                          *ngIf="formulario.get('school_year_id')?.errors  && formulario.get('school_year_id')?.touched">
                          O ano lectivo é obrigatório
                        </div>
                      </div>
                    </div>
                
                    <div class="w-full flex justify-end items-end">
                      <button type="submit" class="p-2 px-5 rounded-[6px]  bg-primary-btn  text-white">Salvar</button>
                    </div>
                  </form>
                </app-form-modal>
                
                <app-form-modal [autoHeight]="false" [uplode]="true" (onClick)="patchValues(item)"
                  title="Carregar Pauta" [isEdit]="true">
                  <form (ngSubmit)="uplodeFile(item.id)" [formGroup]="formulario"
                    class="py-3  px-3 w-[90vw] xl:w-[60vw] space-y-3">

                    <div class="grid grid-cols-1 gap-2">
                      <div class="mb-3 w-full form-group">
                        <label for="formFile" class="form-label">Ficheiro</label>
                        <input class="form-control" (change)="onFileSelected($event)" type="file" id="formFile">
                      </div>
                    </div>

                    <div class="w-full flex justify-end items-end">
                      <button type="submit" class="p-2 px-5 rounded-[6px]  bg-primary-btn  text-white">Carregar</button>
                    </div>
                  </form>
                </app-form-modal>                

                <span title="Mini Pauta" class="cursor-pointer flex items-center justify-center text-gray-700"
                  [routerLink]="'/dash/pedagogical-area/mini-schedule/schedule/'+item.id">
                  <i class="pi pi-plus-circle"></i>
                </span>

                <a *ngIf="item.file" [href]="printPDF(item)" title="Imprimir Mini Pauta" target="_blank" download
                  rel="noopener noreferrer">
                  <button class="px-1 text-gray-700 py-1 cursor-pointer rounded-sm flex items-center gap-1">
                    <i class="pi pi-print"></i>
                  </button>
                </a>

                <app-form-modal-remove (handleRemove)="handleRemove(item.id)" [item]="item" title="Eliminar"
                  [name]="item.designation"></app-form-modal-remove>
                <!--   <a [href]="printPDF(item)" target="_blank" download rel="noopener noreferrer">
                <button class="px-1 text-gray-700 py-1 cursor-pointer rounded-sm flex items-center gap-1">
                  <i class="pi pi-print"></i>
                </button>
              </a>
             <app-pdf-view-modal>
                <pdf-viewer
                  [render-text]="true"
                  [original-size]="false"
                  style="width: 60vw; height: 60vh"
                  [external-link-target]="'blank'"
                  [src]="printPDF(item)">
                </pdf-viewer>
              </app-pdf-view-modal> -->
              </td>
            </ng-template>
          </app-table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>