<app-pre-load *ngIf="isLoading"></app-pre-load>


<div class="content bg-[#F0F2F3]">
  <app-breadcrumb [icon]="''" [urlBase]="'Secretaria'" [url]="base"></app-breadcrumb>
<div class="w-full mb-3 mt-3 flex flex-1 justify-end">
  <!-- <app-form-modal title="Confirmação"></app-form-modal> -->
</div>

<div class="row">
<div class="col-md-12">
  <div class="card shadow-none rounded-md border">
      <div class="card-body">
          <app-table></app-table>
      </div>
  </div>
</div>
</div>
</div>
<app-footer></app-footer>
