<!-- <nav aria-label="breadcrumb">
  <ol class="flex items-center gap-1">
      <li class="flex items-center justify-center text-sm gap-1">
          <i [ngClass]="icon" class="text-[18px] mr-1 text-gray-600"></i>
          <span routerLink="/dash/home" class="cursor-pointer my-auto text-[12px] sm:text-sm font-medium text-gray-600">{{ urlBase }}</span>
      </li>
      <li *ngIf="urlMiddle" class="flex items-center text-[12px] sm:text-sm gap-1">
        <i class="pi pi-chevron-right text-[12px]"></i>
        <span routerLink="/dash/home" class="cursor-pointer text-[12px]  my-auto sm:text-sm font-medium text-gray-600">{{ urlMiddle }}</span>
      </li>
      <li class="flex items-center text-[12px] sm:text-sm gap-1" aria-current="page">
          <i class="pi pi-chevron-right text-[12px]"></i>
        <span class="text-[#2676ED] font-medium text-[12px]  my-auto sm:text-sm">{{ url }}</span>
      </li>
  </ol>
</nav> -->


<nav aria-label="breadcrumb">
  <ol class="flex items-center gap-1">
      <li class="flex items-center text-sm gap-1">
        <svg (click)="page('/dash/home')"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home text-gray-600" _ngcontent-iie-c89=""><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
      </li>
    

      <li #texto class="flex items-center text-sm gap-1" aria-current="page" *ngFor="let route of url; let index = index;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right" _ngcontent-shp-c89=""><polyline points="9 18 15 12 9 6"></polyline></svg>
        <span class="font-medium text-sm cursor-pointer hover:text-[#2A75E7]" [ngClass]="{'text-[#2A75E7]': (url.length-1) == index}" (click)="page(route.url)">{{ route.name }}</span>
      </li>
      

  </ol>
</nav>