<section class="w-full min-h-screen grid grid-cols-1 lg:grid-cols-1 xl:grid-cols-3">
  <div class=" col-span-2 xl:flex hidden">
    <img class="object-top object-cover w-full max-h-[100vh] relative" src="assets/images/backgroundlogin.jpeg">
  </div>
  <div class="flex justify-center items-center p-8 xl:p-0">
    <div class="xl:max-w-[26rem] w-full flex flex-col">
      <!-- <img class="self-center xl:self-start mx-auto" src="assets/images/ESCOLAR 1.png" alt="" srcset=""> -->
      <div class="shadow-lg rounded-3xl flex flex-col p-8 gap-2">
        <h3 class="text-2xl font-medium text-center">Redifinir Senha</h3>
        <p class="text-xs text-center">Digite seu e-mail e enviaremos um link <br/> para que você possa recuperar sua senha.</p>
        <input class="rounded-3xl my-3 outline-none border-[0.5px] p-3" type="text" placeholder="Email ou nome do utilizador">
        <div class="flex justify-center gap-1">
          <div class="flex items-center gap-1">
            <input type="radio" name="" id="">
            <span class="text-xs">Caso tiver dificuldades</span>
          </div>
          <span class="text-xs text-[#576EE5]">Contacte-nos</span>
        </div>

        <button class="bg-[#4E73E6] mt-8 rounded-3xl text-white p-3">Próximo</button>
      </div>
    </div>
  </div>
</section>
