<div class="content bg-[#F0F2F3] h-screen">
  <app-breadcrumb [icon]="'pi pi-id-card'" [urlBase]="'Area Pedagógica'" [urlMiddle]="'Documentos'" [url]="base"></app-breadcrumb>
<div class="w-full mb-3 mt-3 flex flex-1 justify-end">
  <!-- <app-form-modal [title]="'Dados do Aluno'"></app-form-modal> -->
</div>
<div class="row">
<div class="col-md-12">
  <div class="card shadow-none rounded-md border">
      <div class="card-body">
        <app-table [title]="'Declaração'"></app-table>
      </div>
  </div>
</div>
</div>
</div>
<app-footer></app-footer>
